dist: trusty
sudo: required
language: python
python:
    - 2.7

cache:
    directories:
        - "~/.platformio"

# Configuration variables.
env:
  global:
    - ROS_DISTRO=indigo
    - ROS_CI_DESKTOP="`lsb_release -cs`"  # e.g. [precise|trusty|...]
    - CI_SRC_PATH=$(pwd)  
  matrix:
    - PLATFORMIO_CI_SRC=$CI_SRC_PATH/kitt_teensy_ros_node

before_install:
    # Get roskeys
    - sudo sh -c "echo \"deb http://packages.ros.org/ros/ubuntu $ROS_CI_DESKTOP main\" > /etc/apt/sources.list.d/ros-latest.list"
    - wget http://packages.ros.org/ros.key -O - | sudo apt-key add -
    - sudo apt-get -qq update

install:
    # Install minimum amount of ROS to get things working for rosserial.
    - sudo apt-get install -y ros-$ROS_DISTRO-catkin
    - sudo apt-get install -y python-rosdep
    - sudo apt-get install -y ros-$ROS_DISTRO-rosbash
    - sudo apt-get install -y ros-$ROS_DISTRO-roscpp
    - sudo apt-get install -y ros-$ROS_DISTRO-roslib
    - sudo apt-get install -y ros-$ROS_DISTRO-rospy
    - sudo apt-get install -y ros-$ROS_DISTRO-common-msgs
    - sudo apt-get install -y ros-$ROS_DISTRO-topic-tools
    - sudo apt-get install -y ros-$ROS_DISTRO-tf
    - pip install -U rospkg
    - pip install -U catkin_pkg
    - pip install -U empy
    - source /opt/ros/$ROS_DISTRO/setup.bash
    # Prepare rosdep to install dependencies.
    - sudo rosdep init
    - rosdep update
    # Install platformio
    - pip install platformio
    ### Get platformio libs.
    # Install Timer.h library for easy ISRs.
    # http://platformio.org/lib/show/75/Timer
    # Pull in custom IMU libraries that use the i2c_t3.h instead of Timer.h
    - platformio lib -g install 75 https://github.com/Teensy-Compatible-Libraries/lsm6-arduino.git https://github.com/Teensy-Compatible-Libraries/lis3mdl-arduino.git

before_script:
    ### Build rosserial
    # Initialize catkin workspace for custom rosserial build.
    - mkdir -p ~/catkin_ws/src
    - cd ~/catkin_ws/src
    - catkin_init_workspace
    # Pull in custom rosserial because PR https://github.com/ros-drivers/rosserial/pull/270
    # hasn't made it to the debs yet. When it does, this should be removed.
    - git clone https://github.com/ros-drivers/rosserial.git --branch $ROS_DISTRO-devel
    # Include custom kitt_msgs
    - git clone https://github.com/kittcar/kitt_msgs.git
    - cd ~/catkin_ws
    - catkin_make
    - source ~/catkin_ws/devel/setup.bash
    # Make sketchbook/libraries folder.
    - mkdir -p $CI_SRC_PATH/sketchbook/libraries
    - export CI_LIB_PATH=$CI_SRC_PATH/sketchbook/libraries
    # Make rosserial_arduino in the sketchbook/libraries folder
    - rosrun rosserial_arduino make_libraries.py $CI_LIB_PATH
    
script:
    # Build code
    - platformio ci --lib="$CI_LIB_PATH/ros_lib" --board=teensy35 --board=teensy36

before_deploy:
    - sudo apt-get install -y doxygen
    - cd $CI_SRC_PATH
    - doxygen

deploy:
    provider: s3
    access_key_id: AKIAJPKG2OXAWEATAZHQ
    secret_access_key:
        secure: WX6NSa1J/kTGTvBllB29Msk4gBAO5+D3F5kBEHxrxDdiSUY8eKaGibA76lm0dbcsNqfDJ23+pKRP9V7D4FCOw3/sF1KjF3u3Egq0rYs3bxe88uZIUuSD4B7uMz9AH3gVWLu40wWhd6ejBWHYvKRbflFw5oCc4Nxq70auW5HIHgxL2S+MIGURM+RcGwrAuWbedkLKbZKEAduAuW1x5kftO27LQSERHRnTP0xWT+1j96kpGuMwjGIbRztg9lLQZpWUz5BDypIDv4C9S/GNMtMQ013V+/5otEgPD2mcuxRPOkzZBU6IZUkO5iEIZH2Z1q2/XCumrR0p5TO2PMojzoCIYhtls8ewTi6el45b6A8gKlvFiZgHJ2Jkr0ixzqTjWUtTJsE7pIdbWXMqMm2xgiYS+6eeWb9l/l1t6DSpoDBtb2mno/U5sS9sX18UzdE6AFq8IbPVsHmF2q/Eg34vvortD/giB4J+bI33HGm8w6WVVc0+WSjbRkSuEm2b/Jg/5/Olw+Gy+MWPC/HbSS4HjucUw4B4sljO1wJyHAKcsey7aKPS0n07R0AMQEO9PKPem6I8jTfPAf4zre19yOfeuFYbQG5OdJYXvzhAeIf6JwqPR3onLsnx7rdEK44UGZ1N8Ad4Jc/KOeGCGq//QjCOnh1ze7vadY5hAhZzOgYz5/Mir3o=
    bucket: api.kittcar.com
    local-dir: "$CI_SRC_PATH/docs"
    upload-dir: kitt_platform
    skip_cleanup: true
    region: us-west-1
    acl: public_read
    on:
        repo: kittcar/kitt_platform
